services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - ai-assurance-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: /var/lib/kafka/data
    volumes:
      - kafka_data:/var/lib/kafka/data
    depends_on:
      - zookeeper
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "kafka:9092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - ai-assurance-net

  kafka-init:
    build:
      context: ./services/kafka-init
      dockerfile: Dockerfile
    container_name: kafka-init
    depends_on:
      - kafka
    restart: "no"
    networks:
      - ai-assurance-net

  mms-consumer:
    build:
      context: .
      dockerfile: services/mms-consumer/dockerfile
    container_name: mms-consumer
    depends_on:
      kafka:
        condition: service_healthy
      redis:
        condition: service_started
      postgres:
        condition: service_started
    restart: on-failure
    volumes:
      - ./services/mms-consumer:/app
      - ./services/model-builder:/app/model-builder
      - ./services/orchestration:/app/orchestration
    environment:
      POSTGRES_URL: postgresql://postgres:yourpassword@postgres:5432/assurance_db
      PYTHONPATH: /app:/app/model-builder:/app/orchestration
    networks:
    - ai-assurance-net

  scheduler:
    build:
      context: .
      dockerfile: services/mms-consumer/dockerfile
    container_name: scheduler
    command: python scheduler.py archive
    depends_on:
      redis:
        condition: service_started
      postgres:
        condition: service_started
    restart: on-failure
    environment:
      POSTGRES_URL: postgresql://postgres:yourpassword@postgres:5432/assurance_db
      MODEL_CONFIG_PATH: /app/services/orchestration/model_config.json
    networks:
      - ai-assurance-net

  mms_api:
    build:
      context: .
      dockerfile: services/mms_api/dockerfile
    container_name: mms_api
    ports:
      - "9100:9100"
    depends_on:
      - redis
      - postgres
    restart: on-failure
    volumes:
      - ./exports:/app/exports
    environment:
      DATABASE_URL: postgresql://postgres:yourpassword@postgres:5432/assurance_db
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ai-assurance-net

  redis:
    image: redis/redis-stack-server:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - ai-assurance-net

  tib-producer-api:
    build:
      context: ./services/tib-producer-api
      dockerfile: Dockerfile
    container_name: tib-producer-api
    ports:
      - "8002:8000"
    depends_on:
      - kafka
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ai-assurance-net

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: assurance_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - ai-assurance-net

  baseline-service:
    build:
      context: ./services/baseline
      dockerfile: Dockerfile
    container_name: baseline-service
    ports:
      - "8001:8000"
    restart: on-failure
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://postgres:yourpassword@postgres:5432/assurance_db
    networks:
      - ai-assurance-net

  assurance-service:
    build:
      context: .
      dockerfile: services/assurance-service/Dockerfile
    container_name: assurance-service
    ports:
      - "8000:8000"
    restart: on-failure
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://postgres:yourpassword@postgres:5432/assurance_db
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ai-assurance-net

  sidecar-agent:
    build:
      context: .
      dockerfile: services/sidecar-agent/Dockerfile
    container_name: sidecar-agent
    depends_on:
      tib-producer-api:
        condition: service_started
      model-builder:
        condition: service_started
      postgres:
        condition: service_started
    entrypoint: ["sh", "-c", "sleep 10 && python evaluate_model.py"]
    restart: on-failure
    volumes:
      - shared-data:/app/shared-data
      - ./shared-data/training_data.csv:/app/training_data.csv
    environment:
      DATABASE_URL: postgresql://postgres:yourpassword@postgres:5432/assurance_db
      PYTHONPATH: /app
      MODEL_ID: flood-risk-predictor # THIS IS WHERE YOU SET THE VARIABLE FOR THE MODEL YOU WANT TO EVALUATE
      POLL_INTERVAL: 60   # Variable for Sidecar Agent query time, change to 10 seconds, or whatever you want
    networks:
      - ai-assurance-net

  model-builder:
    build:
      context: ./services/model-builder
    container_name: model-builder
    volumes:
      - ./logs:/app/logs
      - shared-data:/app
    working_dir: /app
    ports:
      - "9000:9000"
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ai-assurance-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    depends_on:
      - assurance-service
      - mms_api
    networks:
      - ai-assurance-net

  grafana:
    image: grafana/grafana:9.5.2
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_SECURITY_ALLOW_EMBEDDING: true
      GF_AUTH_ANONYMOUS_ENABLED: true
      GF_AUTH_ANONYMOUS_ORG_ROLE: Viewer
      GF_USERS_ALLOW_SIGN_UP: false
      GF_SERVER_ROOT_URL: http://localhost:3000
      GF_SERVER_SERVE_FROM_SUB_PATH: true
    networks:
      - ai-assurance-net

volumes:
  postgres_data:
  kafka_data:
  grafana_data:
  redis_data:
  prometheus_data:
  shared-data:

networks:
  ai-assurance-net:
    driver: bridge
